<% if notice.present? %>
  <div id="dismiss-notice" class="fixed z-[90] top-5 left-5 hs-removing:translate-x-5 hs-removing:opacity-0 transition duration-300 bg-teal-50 border border-teal-200 text-sm text-teal-800 dark:text-teal-50 rounded-lg p-4 dark:bg-teal-800/70 dark:border-teal-900 dark:teal-teal-500" role="alert">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="flex-shrink-0 h-4 w-4 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"/><path d="m9 12 2 2 4-4"/></svg>
      </div>
      <div class="ms-2">
        <div class="text-sm font-medium">
          <%= notice %>
        </div>
      </div>
      <div class="ps-3 ms-auto">
        <div class="-mx-1.5 -my-1.5">
          <button type="button" class="inline-flex bg-teal-50 rounded-lg p-1.5 text-teal-500 hover:bg-teal-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-teal-50 focus:ring-teal-600 dark:bg-teal-800/70 dark:hover:bg-teal-900 dark:text-teal-600" data-hs-remove-element="#dismiss-notice">
            <span class="sr-only">Dismiss</span>
            <svg class="flex-shrink-0 h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>


<% if alert.present? %>
  <div id="dismiss-alert" class="fixed z-[90] top-5 left-5 hs-removing:translate-x-5 hs-removing:opacity-0 transition duration-300 bg-red-50 border border-red-200 text-sm text-red-800 dark:text-red-50 rounded-lg p-4 dark:bg-red-800/70 dark:border-red-900 dark:red-teal-500" role="alert">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="flex-shrink-0 h-4 w-4 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
      </div>
      <div class="ms-2">
        <div class="text-sm font-medium">
          <%= alert %>
        </div>
      </div>
      <div class="ps-3 ms-auto">
        <div class="-mx-1.5 -my-1.5">
          <button type="button" class="inline-flex bg-red-50 rounded-lg p-1.5 text-red-500 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-50 focus:ring-red-600 dark:bg-red-800/70 dark:hover:bg-red-900 dark:text-red-600" data-hs-remove-element="#dismiss-alert">
            <span class="sr-only">Dismiss</span>
            <svg class="flex-shrink-0 h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
